<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pektu.lifecounter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.View.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.View.Activities.DayPlansActivity" />
        <activity android:name=".View.View.Activities.AddPlanActivity" />

        <service
            android:name=".Controller.Services.DoPlanNotificationSenderService"
            android:enabled="true" />
        <service
            android:name=".Controller.Services.PlansUpdaterService"
            android:enabled="true" />
        <service
            android:name=".Controller.Services.UndonePlansNotificationSenderService"
            android:enabled="true" />
        <service
            android:name=".Controller.Services.OpenPlansViewService"
            android:enabled="true" />
        <service
            android:name=".Controller.Services.DayRateService"
            android:enabled="true" />

        <activity android:name=".View.View.Activities.FirstSetUpActivity" />
        <activity android:name=".View.View.Activities.SettingsActivity" />
    </application>

</manifest>